<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>TASK</title>
</head>
<body>
    <header>
        <div class="logo"><img src="/logo.png" alt=""></div>
        <div class="">
            <button>inr</button>
            <button>btc</button>
            <button>buy btc </button>
        </div>
        <div class="contact">
            <img src="Telegram_logo.svg" alt="Telegram icon" class="icon"> Telegram contact
        </div>
    </header>
    <section class="hero">
        <h2>Best Price to Trade</h2>
        <div class="flex">
            <div>
                <p>0.49% <span>5 Mins</span> </p>
            </div>
            <div>
                <p>1.17 %
                    <span>1 Hour</span> </p>
            </div>
            <div>
                <p class="p">₹ 25,65,508 <span>Average BTC/INR net price including commission </span> </p>
            </div>
            <div>
                <p>5.89 % <span>1 Day</span> </p>
            </div>
            <div>
                <p>8.77 % <span>7 Days</span> </p>
            </div>
        </div>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>name</th>
                    <th>Last</th>
                    <th>Buy / Sell Price</th>
                    <th>volume</th>
                    <th>base_unit</th>
                </tr>
            </thead>
            <tbody>
              
              <% coins.slice(0, 10).forEach(function(coin, index) { %>
                <tr>
                    <td><%= index + 1%></td>
                    <td><%= coin.name %></td>
                    <td><%= coin.last%> </td>
                    <td> <%= `${coin.buy} / ${coin.sell}`  %></td>
                    <td><%= coin.volume%></td>
                    <td><%=  coin.base_unit %></td>
                  </tr>
                <% }); %>
              </tbody>
          </table>
    </div>
    <footer>
      <p>Copy right 2023</p>
  </footer>
</body>
</html>

